header .container{
    max-width: 100%;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 16px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #7A7A7A;
    padding-bottom: 4px;
    width: 50%;
}

.search{
    outline: none;
    border: none;
    resize: none;
    width: 100%;
}

.account{
    font-size: 13px;
    color: #7A7A7A;
}

.cart{
    display: flex;
    align-items: center;
    gap: 5px;
}

.counter{
    width: 14px;
    height: 14px;
    background-color: #F8475F;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.menu-mobile{
    display: flex;
    gap: 25px;
}

@media (max-width: 320px){
    .menu{
        display: flex;
        flex-direction: column;
    }

    .search-bar{
        width: 90%;
    }

    .menu-mobile{
        display: flex;
        gap: 50px;
    }
}